---
permalink: /about/
layout: website
title: About 
---
		<div class="row mt">
			<div class="col-xs-12">
				<h1 class="blue intro centered">About ChemBio Hub</h1>
			</div>
			
		</div>
		<div class="row">

			<ul class="nav centered">
			  <!-- <li class="symp-section col-xs-6 col-sm-3"><a href="#goal">
			  	<div class="entry-point">
						<div class="row hidden-xs">
							<div class="img-circle blue-bg">
								<span class="img-helper"></span>
								<img src="/assets/img/goal.png" alt="Click to see our goals" />
							</div>
						</div>
						<div class="row">
							<div>
								<h2 class="blue">Goal</h2>
							</div>
						</div>
				</div>
			  </a></li> -->
			  <li class="symp-section col-xs-12 col-sm-4"><a href="#approach">
			  	<div class="entry-point">
						<div class="row hidden-xs">
							<div class="img-circle blue-bg">
								<span class="img-helper"></span>
								<img src="/assets/img/approach.png" alt="Click to see our approach"/>
							</div>
						</div>
						<div class="row">
							<div>
								<h2 class="blue">Approach</h2>
							</div>
						</div>
				</div>
			  </a></li>
			  <!-- <li class="symp-section col-xs-6 col-sm-3"><a href="#impact">
			  	<div class="entry-point">
						<div class="row hidden-xs">
							<div class="img-circle blue-bg">
								<span class="img-helper"></span>
								<img src="/assets/img/impact.png" alt="Click to see our impact" />
							</div>
						</div>
						<div class="row">
							<div>
								<h2 class="blue">Impact</h2>
							</div>
						</div>
				</div>
			  </a></li> -->
			  <li class="symp-section col-xs-12 col-sm-4"><a href="#funders">
			  	<div class="entry-point">
						<div class="row hidden-xs">
							<div class="img-circle blue-bg">
								<span class="img-helper"></span>
								<img src="/assets/img/funders-new.png" alt="Click to see our funders"/>
							</div>
						</div>
						<div class="row">
							<div>
								<h2 class="blue">Funders</h2>
							</div>
						</div>
				</div>
			  </a></li>
			  <li class="symp-section col-xs-12 col-sm-4"><a href="#team">
			  	<div class="entry-point">
						<div class="row hidden-xs">
							<div class="img-circle blue-bg">
								<span class="img-helper"></span>
								<img src="/assets/img/team.png" alt="Click to see the team" />
							</div>
						</div>
						<div class="row">
							<div>
								<h2 class="blue">Meet the team</h2>
							</div>
						</div>
				</div>
			  </a></li>
			</ul>

		</div>
		<div class="row  mt">
			<div class="col-lg-12">
				<a id="approach"></a>
				<h2 class="subheading">
		    		Approach
				</h2>
				
				<h4>To make life easier for chemical biology researchers in Oxford by providing better tools and more opportunities for collaboration.</h4>
				
				
				<p>Chemical biology research takes place in at least 15 departments and research centres in Oxford. This spans a huge volume of cutting-edge research and creates many opportunities for us to collaborate.</p>
				<p>However, opportunities for collaboration can be hard to identify. The complexity of our institution and the interdisciplinary nature of our work can make it challenging to find the right people to work with. It can also be difficult to identify the best way to share knowledge, expertise and data. </p>
				<p>By speeding up and improving how people in different disciplines share data, the ChemBio Hub project is helping in a variety of areas.  These include - defining the right biological models to test novel compounds, chemical optimisation of screening hits, finding equipment to run a new assay, and numerous others.</p>
				<p>The ChemBio Hub vision is to provide the tools that will make it easier for Oxford University scientists to connect with colleagues to improve their research, to satisfy funders that the data they have paid for is being managed according to their requirements, and to make new alliances with pharma and biotech partners.  </p>
				<p>We are working with researchers to determine what tools ChemBio Hub should provide.</p>
				<p>So far, we have created the ChemBio Crunch utility, which simplifies the process of cleaning up, analysing, visualising and sharing AlphaScreen data.  We are adding functionality to help more users to benefit by accepting data from different equipment and based on a wider variety of assay types.</p>
				<p>Current functionality includes chemical registration with <a href="/chemreg"><strong>ChemReg</strong></a>, and managing assay definitions with <a href="/assayreg"><strong>AssayReg</strong></a>. We will also have a social media element which we have employed to great effect during and after our very successful <strong>symposia</strong>.</p>
				<!-- <p>It will also have a real-world component which will support those with complementary interests getting together.  This kicked off with the internal symposium on 10th November.  Over one hundred Oxford researchers with an interest in chemical biology and medicinal chemistry met to hear about the cutting-edge science taking place in the University and to discuss their work with others. </p> -->
				<p>We have set up meetings with researches from a range of scientific disciplines to tell us how they need to promote their research.  Guided by the needs of the research community, these could be further symposia, seminars, social events or round-table discussions.</p>
				{% include backtotop.html %}
				<h2 class="subheading">
		    		Impact
				</h2>
				<p>It will become simple for researchers to capture their research data and publicise it to colleagues within the University and beyond.  They will be able to find out if lines of investigation have been followed in the past, and with what results.  This will reduce wasted effort, encourage more rational target selection and support development of better medicines. </p>
				<p>Researchers will be able to publish findings at the appropriate time. During early research periods they can be confident that their data is secure. When they are ready to share it, data will already be in a publication-ready format.</p>
				<p>Public funders often require that all of the data coming out of the projects they fund must be made publicly available.  It can be a painful exercise for researchers to collate all of their paper and electronic records into a format that satisfies the conditions set by funders.  By having a single data repository, designed to manage data in standard ways, we will make it easy for researchers to share their data and so satisfy those conditions.  This will save researchers’ time and improve quality – so increasing the chance of further funding in fruitful areas of research.</p>
				<p>The ChemBio Hub environment will make it much easier for partners and potential collaborators in biotech and pharmaceutical companies to find and integrate research data.  They can then connect with the right people and create mutually beneficial relationships. </p>
				<p>Ultimately the effect of all of these activities will be to speed up the drug discovery process and bring new medicines to patients.</p>
				{% include backtotop.html %}
			</div>
		</div>
		<!-- <div class="row  mt">
			<div class="col-lg-12">
				<a id="approach"></a>
				
			</div>
		</div>
		<div class="row  mt">
			<div class="col-lg-12">
				<a id="impact"></a>
				


			</div>
		</div> -->

		<div class="row  mt">
			<div class="col-lg-12">
			<a id="funders"></a>
				<h2 class="blue">
		    		Funding was provided as follows:
				</h2>
				
				<h2 class="subheading"> Higher Education Funding Council</h2>
				
								

				<p>
				<img src="/assets/img/funders/hefce.png" alt="Higher Education Funding Council" class="col-xs-12 col-sm-4"/>	The <a href="http://www.hefce.ac.uk/whatwedo/kes/heif/" onclick='return !window.open(this.href);'>Higher Education Funding Council for England (HEFCE)</a> has contributed £100,000 from the Higher Education Innovation Funding (HEIF).  This is specifically in support of knowledge exchange activities between the University and the wider world, aimed at providing economic and social benefit to the UK. This contribution funds the appointment of a Knowledge Exchange Coordinator with the role of championing the use of the ChemBio Hub platform.
				</p>
				<p>
				The <a href="mailto:michael.ohagan@chembiohub.ox.ac.uk">KE Coordinator</a> acts as a central coordinator for medicinal chemistry and chemical biology knowledge within the University, bringing together groups from various Divisions and Departments to increase collaboration and reduce duplication of effort. Their role includes maximising the transfer of knowledge within the University as well as with external organisations. This increases the impact of the science generated and provides new opportunities to enhance the University's role in drug discovery internationally.
				</p>

				
				<h2 class="subheading">ISSF</h2>
				
					       		

				<p>
				<img src="/assets/img/funders/welcome.png" alt="The Wellcome Trust" class="col-xs-12 col-sm-4"/>
				The ISSF commissioned a series of audits of strategic equipment within the University, led by leading researchers.  These included <a href="http://www.issf.ox.ac.uk/_asset/file/small-molecule-audit.pdf" onclick='return !window.open(this.href);'>one focused on small molecules in biomedical research</a>, headed by Dr Paul Brennan and published in April 2013.  One key finding of that audit was that “It is currently very difficult for one research group within the University to know if another group has expertise in a certain assay or screening technique. There is also no mechanism for one group to know if another group has compounds of interest for either target discovery or lead discovery.”  Following this finding, the ISSF then provided a total of £225,000 of funding to support development of a University-wide Chemical Biology data and reagent sharing platform, which subsequently became known as ChemBio Hub.
				</p>	
					<h2 class="subheading"> Nuffield Department of Medicine</h2>
				
					        	

				<p><img src="/assets/img/funders/ndm.png" alt="Nuffield Dept of Medicine" class="col-xs-12 col-sm-4"/>
				The <a href="http://www.ndm.ox.ac.uk/home" onclick='return !window.open(this.href);'>Nuffield Department of Medicine</a> is providing £50,000 of funding in support of the project.
				</p>	
				
				<h2 class="subheading"> John Fell Fund</h2>
				
				 

				<p><img src="/assets/img/funders/johnfell.png" alt="The John Fell Fund" class="col-xs-12 col-sm-4"/>
				The <a href="http://www.admin.ox.ac.uk/pras/jff/about/" onclick='return !window.open(this.href);' >John Fell Fund</a> is providing £125,000 of matching funding to support the ChemBio Hub project. Data resulting from University screening programmes is currently shared ad-hoc. One common way is by emailing various spreadsheets around. The problem with this approach is that it depends on informal knowledge of work in various departments. The John Fell funding will address the critical need to record and share data by providing a central platform for chemical biology data.

				</p>	
				{% include backtotop.html %}
			</div>
		</div>

		<div class="row  mt">
			<div class="col-lg-12">
				<a id="team"></a>
				<h2 class="subheading">
		    		Meet the team
				</h2>
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<div class="row">
							<div class="col-xs-12">
								<img src="/assets/img/people/default_user_icon.png" class="pull-left floatwrap img-circle" style="min-width: 10%; width: 15%;">
								<h2 class="blue">Karen Porter<br><small>Project Manager</small></h2>
								<p class="nexa">After a variety of project management roles in commercial companies and large organisations, Karen is now driving the ChemBio Hub project to deliver improved tools for researchers to manage their data easily and efficiently.  With so many people involved in chemical biology research, she is driven to make sure that they can focus on innovative science rather than each having to spend precious time wrestling with frustrating IT!</p>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<img src="/assets/img/people/default_user_icon.png" class="pull-left floatwrap img-circle" style="min-width: 10%; width: 15%;">
								<h2 class="blue">Paul Barrett<br><small>Web Developer</small></h2>
								<p class="nexa">Paul's primary role within ChemBio Hub is to develop tools to help chemical biology researchers across the University. Paul specialises in interface design and implementation but is involved across the technology stack. Paul has previous web development experience within the University, a web publishing company and also at Evotec in Oxfordshire.</p>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<img src="/assets/img/people/default_user_icon.png" class="pull-left floatwrap img-circle" style="min-width: 10%; width: 15%;">
								<h2 class="blue">Andrew Stretton<br><small>Web Developer</small></h2>
								<p class="nexa">Andy brings a wealth of experience in data mining and database development to the ChemBio Hub team.  He designs the overall technical architecture of the ChemBio Hub tools, including testing and installation of the application, and ensuring data can easily be exported to public repositories and archives to promote knowledge sharing.</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="row">
							<div class="col-xs-12">
								<img src="/assets/img/people/default_user_icon.png" class="pull-left floatwrap img-circle" style="min-width: 10%; width: 15%;">
								<h2 class="blue">Adam Hendry<br><small>Project Scientist</small></h2>
								<p class="nexa">As the ChemBio Hub project scientist Adam's job is to liaise between users and developers. Having recently completed his PhD in Chemical Biology, he understands what bench scientists need and ensures that is the main focus of the tools we develop. You’ll often find him demonstrating the latest version of the system across the university, please feel free to say "Hi" to him when you do! Through your feedback, Adam hopes to help make this project a truly useful experience for everyone involved.</p>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<img src="/assets/img/people/default_user_icon.png" class="pull-left floatwrap img-circle" style="min-width: 10%; width: 15%;">
								<h2 class="blue">Brian Marsden<br><small>Principal Investigator, Research Informatics</small></h2>
								<p class="nexa">As Principal Investigator, Brian oversees the ChemBio Hub project and strategic alliances with chemical biology investigators with the University and beyond.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


<script type="text/javascript" src="/assets/js/slide-down-links.js"></script> 