---
layout: website
title: ChemBio Hub
---



	<div class="row" id="intro-row">


		<div class="col-xs-12">
			<h1 class="intro blue">Supporting world class research.<br>
				<small>Developing tools. Promoting standards.</small></h1>
		</div>


	</div>
	<div class="row">
		<div class="col-xs-12 text-center alert alert-info">
			<p class="nexa">Have an account? Login to ChemBio Hub here <a role="button" class="btn btn-primary" href="https://chembiohub.ox.ac.uk/hub/" target="_blank">ChemBio Hub Platform</a></p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6 text-center" style="padding:20px; ">
			<!-- Section for chemireg-->
			<div class="row">
				<a href="/chemireg">
					<div class="col-xs-12 techitem" style="border:10px solid rgb(190,15,52);  border-radius:50px; background: url(assets/img/PFI-2.png) #fff no-repeat 50%;">
						
							
							<p class="nexa">
								<strong>Need to record, index and search compounds? <br><br><big>ChemiReg can help.</big></strong>
							</p>
						
					</div>
				</a>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 text-center" style="padding:20px; ">
			<!-- Section for crunch (prototype)-->
			<div class="row">
				<a href="/inventoryreg">
					<div class="col-xs-12 techitem" style="border:10px solid rgb(170,179,0); border-radius:50px; background: url(assets/img/615px-Lab_glassware.jpg) #fff no-repeat 50% 80%;">
						
							<p class="nexa">
								<strong>Need a simple tool to keep track of items your lab? <br><br><big>InventoryReg can help.</big></strong>
							</p>
					</div>
				</a>
			</div>
		</div>
	</div>


	<div class="row" id="#apps">
		<div class="col-sm-12">
			<img src="/assets/img/cbh_technology.png" class="img-responsive text-center" usemap="#appmap">
			<map name="appmap">
				<area shape="rect" coords="150,11,410,193" href="/chemireg" />
				<area shape="rect" coords="133,374,414,597" href="/inventoryreg" />
			</map>
		</div>
	</div>

	<hr>

	<div class="row" id="techlist">
		<div class="col-xs-6">
			<h2 class="blue h2underline">Our Tools <br><small>built by ChemBio Hub developers</small></h2>
			{% for tool in site.tools.internal %}
				{% include tool.html %}
			{% endfor %}


		</div>
		<div class="col-xs-6">
			<h2 class="blue h2underline">Associated Tools <br><small>of interest to ChemBio Hub users</small></h2>
			{% for tool in site.tools.external %}
				{% include tool.html %}
			{% endfor %}
			
		</div>
	</div>






	
	<hr>
	<!-- What we've done -->
	<div class="row">
		
		<div class="col-xs-12">
			<h2 class="subheading">How can ChemBio hub help you?</h2>
			<div class="well">
				<p class="nexa">
					Researchers from across Oxford have adopted the ChemBio Hub system to manage everything from compounds and plasmids to antibodies and mouse data. 
				</p>
				<h2 class="blue">Why should you try the ChemBio Hub?</h2>
				<p class="nexa">
					<ul class="nexa">
						<li>Free - download a copy of the software and get started without subscription or licence costs.</li>
						<li>Simple to learn - Easy to setup and maintain.</li>
						<li>Highly flexible - Store data in the format you need.</li>
						<li>Online - Access your data from anywhere. </li>
						<li>Open source - Develop and add new features as you need them.</li>
					</ul>
				</p>
				<p class="nexa">
					From compound registration to managing general orders, the ChemBio Hub can help you get your laboratory organised. <a href="https://chembiohub.ox.ac.uk/hub/webauth">Try it for free now</a>.
				</p>
			</div>
		</div>
	</div>



	<div class="row"><button class="btn pull-right scrollToTop btn-lg blue">Back to top <span class="glyphicon glyphicon-upload"></span> </button></div>
	<div class="row mt centered" id="social-widgets">

		<div class="col-md-4 col-sm-6 col-xs-12 widget">
			<h3 class="subheading">
				Why ChemBio Hub?
			</h3>
			<div class="col-ld-12 testimonial" >
				<div>
					<img class="floatwrap img-circle" src="/assets/img/chris_scofield.png " alt="" title="Professor Chris Schofield" />
					<p class="blue testimonial">"ChemBioHub will enable researchers to share knowledge, expertise, reagents and data, reducing inefficiency and missed opportunities. I’m convinced that this platform will become a key tool used across the University and beyond."</p>
				</div>
				<p class="blue text-right attribution"><span class="source-name">Professor Chris Schofield</span><br/>Head of Organic Chemistry<br/> University of Oxford</p>
			</div>
		
			<div class="col-ld-12 testimonial" >
				<div>
					<img class="floatwrap img-circle" src="/assets/img/alisdair_buchan.png " alt="" title="Professor Alistair Buchan" />
					<p class="blue testimonial">"ChemBioHub will provide tools to support close collaboration among more than 20 departments. It will showcase the University’s world-class chemical biology capabilities and science both to academics and industry around the world."
					</p>
				</div>

				<p class="blue text-right attribution"><span class="source-name">Professor Alistair Buchan</span><br/>Head of Medical Sciences Division<br/> University of Oxford</p>
			</div>
		</div>	




		<div class="col-md-4 col-sm-6 hidden-xs widget">
			
 			<h3 class="subheading">
 				Our Project Blog
 		</h3>
			<div id="blog-widget" >
				{% include blog-widget.html %}
			</div>
			
		</div>			
		<div class="col-md-4 col-sm-6 hidden-xs widget">
			<h3 class="subheading">
 				Our code on Github
 		</h3>
			<div class="github-widget" data-repo="thesgc/chembiohub_ws"></div>	
			<div class="github-widget" data-repo="thesgc/ng-chem"></div>	
			<div class="github-widget" data-repo="thesgc/chembiohub-site"></div>	
		</div>		

		


		
	</div><!-- row -->


	<div class="row"><button class="btn pull-right scrollToTop btn-lg blue">Back to top <span class="glyphicon glyphicon-upload"></span> </button></div>

    <script type="text/javascript" src="/assets/js/vendorjs/jquery.contenthover.min.js"></script>

	<script type="text/javascript" src="/assets/js/vendorjs/jquery.githubRepoWidget.min.js"></script>	


	   <!-- <script type="text/javascript" src="/assets/js/vendorjs/FeedEk.js"></script> -->

	<script type="text/javascript" src="/assets/js/slide-down-links.js"></script> 

	<script type="text/javascript" src="/assets/js/index-functions.js"></script> 

	<style type="text/css">
		ul.nexa li {
			font-family: NexaLight;
		}
	</style>
