---
permalink: /technology/
layout: website
title: Technology
---

<div class="row">
	<div class="col-xs-12">
		<h1 class="intro blue">Technology</h1>
	</div>
</div>

<div class="row">
	<div class="col-xs-6">
		<h2 class="blue h2underline">Our Tools <br><small>built by ChemBio Hub developers</small></h2>
		{% for tool in site.tools.internal %}
		
			{% include tool.html %}
		{% endfor %}


	</div>
	<div class="col-xs-6">
		<h2 class="blue h2underline">Associated Tools <br><small>of interest to ChemBio Hub users</small></h2>
		{% for tool in site.tools.external %}
		
			{% include tool.html %}
		{% endfor %}
		
	</div>
</div>