<div class="row">
	<h2 class="subheading">Symposium Summary</h2>

	

	<div class="col-xs-12">
		<h2 class="blue centered">What did our attendees get out of this symposium?</h2>
		

		<div class="row mt centered">

				<div class="col-sm-4 entry-point">
					
						<div class="row">
							<div class="img-circle blue-bg " style="background-color:#038B14">
								
								<span class="date-number" style="display:inherit; line-height: 160px;">7</span>
							</div>
						</div>
						<div class="row">
							<div>
								<!-- <h2 class="blue">Capabilities</h2> -->
								<p class="nexa blue">New collaboration ideas</p>
							</div>
						</div>
					
				</div>

				<div class="col-sm-4 entry-point">
					
						<div class="row">
							<div class="img-circle blue-bg "  style="background-color:#038B14">
								<span class="date-number" style="display:inherit; line-height: 160px;">11</span>
							</div>
						</div>
						<div class="row">
							<div>
								<!-- <h2 class="blue">Data</h2> -->
								<p class="nexa blue">New research connections or contacts</p>
							</div>
						</div>
					
				</div>

				<div class="col-sm-4 entry-point">
					
						<div class="row">
							<div class="img-circle blue-bg " style="background-color:#038B14">
								<span class="date-number" style="display:inherit; line-height: 160px;">18</span>
							</div>
						</div>
						<div class="row">
							<div>
								<!-- <h2 class="blue">Symposium</h2> -->
								<p class="nexa blue">Improved awareness of research in other departments</p>
							</div>
						</div>
					
				</div>   

			</div>
		<div class="row top-margin" style="padding:10px;">

			<div class="col-xs-6">
				
				
				<div class="row">
					<h2 class="further subheading">We have blogged about the symposium...</h2>
					{% for post in site.posts %}
						{% assign author = site.authors[post.author] %}
						 {% for tag in post.tags %}
  							{% if tag == "oxcbh" %}
								
								<div class="text-left"><div><h2 class="blue"><a href="{{ post.url }}">{{ post.title }}</a></h2>
									<small><abbr>{{ post.date | date_to_string }}</abbr> by <a href="mailto:{{author.email}}">{{author.display_name}}</a></small></div>
									<div>
										<p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }} <a class="pull-right" href="{{ post.url }}">[more]</a></p>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</div>

				<div class="row mt" style="padding:10px;">
					<div class="img-circle col-xs-3 blue-bg symp-stat" style="background-color:#038B14">
						<h2>18</h2>
					</div>
					<div class="col-xs-9">
						<p class="blue nexa vert-middle"><strong>attendees agreed this type of event should be run more regularly</strong></p>
					</div>
				</div>

			</div>
			<div class="col-xs-6 centered">
				<!-- image of us demoing crunch at the symposium here -->
				<h2 class="further subheading">Here are some event suggestions from the day...</h2>
				<div class="well"><p class="blue" style="margin-bottom: 0;"><em>"More detail on the different compound libraries size/ throughput/ cost/ applications"</em></p></div>
				<div class="well"><p class="blue" style="margin-bottom: 0;"><em>"Antibacterial drug discovery: overcoming resistance. Phenotypic screens/ target-based screens for antibacterial drug candidates"</em></p></div>
				<div class="well"><p class="blue" style="margin-bottom: 0;"><em>"Diseases associated with mutations that impair fold but do not abrogate function. This way I will meet the authors contributing to the above database."</em></p></div>
				<div class="well"><p class="blue" style="margin-bottom: 0;"><em>"Nucleic acid cell visualisation techniques"</em></p></div>
				<div class="well"><p class="blue" style="margin-bottom: 0;"><em>"...specific molecule themes (eg demethylases, methyl transferases)"</em></p></div>
				
			</div>

		</div>

		


<div class="row">

	<h2 class="further subheading">Here's what people thought about the symposium...</h2>

	<div class="col-xs-12">

		<div class="row">


			<div class="col-xs-6 clearfix">
				<div class="row ">
					<blockquote class="blockquote-reverse">
						<p><em>"The packed programme had excellent speakers and gave our students the opportunity to network and see how some other cross-collaborative projects, such as ours, work successfully"</em></p>
					  <footer>Dr Tracey Marr<small>OxIOSCR programme, Department of Chemistry</small></footer>
					</blockquote>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="row">
					<blockquote class="blockquote-reverse">
						<p><em>"We reached the maximum number of registrations within a few days, then had 96 attendees in a 100 seat venue. Add to that the overwhelmingly positive feedback we received on the day. These all point to a great appetite within the University for researchers to get together to share their expertise. We have heard that message and will be working hard to provide the right opportunities to meet the need."</em></p>
					  <footer>Karen Porter<small>ChemBio Hub</small></footer>
					</blockquote>
				</div>
			</div>

			
		</div>
		<div class="row mt">

			<div class="col-xs-4">
				<div class="row ">
					<blockquote class="blockquote-reverse">
						<p><em>"Many thanks - I thought the day was very good"</em></p>
					  <footer>Prof Chris Schofield<small>Dept of Chemistry</small></footer>
					</blockquote>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="row ">
					<blockquote class="blockquote-reverse">
						<p><em>"The talks I attended gave a good overview of what is going on in the University."</em></p>
					  <footer>PI<small>Dept of Biochemistry</small></footer>
					</blockquote>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="row ">
					<blockquote class="blockquote-reverse">
						<p><em>"I now have a better understanding of the drug discovery research in place in Oxford"</em></p>
					  <footer>PI<small>Dept of Physiology, Anatomy &amp; Genetics</small></footer>
					</blockquote>
				</div>
			</div>
			
		</div>
		<div class="row mt">

			<div class="col-xs-4">
				<div class="row ">
					<blockquote class="blockquote-reverse">
						<p><em>"It was a great day on the whole and the crowd turn up was really good. I also liked the posters [and not to forget the food!]"</em></p>
					  <footer>Octovia Monteiro<small>Target Discovery Institute</small></footer>
					</blockquote>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="row ">
					<blockquote class="blockquote-reverse">
						<p><em>"I have better ideas of who has what expertise and how this may be synergistic with my own research"</em></p>
					  <footer>Postdoc<small>Dept of Chemistry</small></footer>
					</blockquote>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="row ">
					<blockquote class="blockquote-reverse">
						<p><em>"I had a great day at the ChemBioHub symposium – really useful. Many thanks."</em></p>
					  <footer>PI<small>WIMM</small></footer>
					</blockquote>
				</div>
			</div>
			
		</div>

	</div>


</div>


		<div class="row alt-bg top-margin">
			<div class="col-xs-12">
				<div class="img-circle col-xs-3 blue-bg symp-stat">
					<h2>19</h2>
				</div>
				<div class="col-xs-9">
					<p class="blue nexa vert-middle"><strong>are interested in using our <a href="https://chembiohub.ox.ac.uk/crunch/" style="border-radius: 5px; background-color:#002147; color: #fff; padding:6px; " onclick='return !window.open(this.href);'>ChemBio Crunch</a> utility to improve their workflow</strong></p>
				</div>
			</div>
			<div class="col-xs-4">
				<!-- image of us demoing crunch at the symposium here -->
				<img src="/assets/img/crunch-grab-1.png" style="width:100%; margin-top:20px;" class="img-thumbnail" alt="ChemBio Crunch screenshot">
			</div>
			<div class="col-xs-4">
				<!-- image of us demoing crunch at the symposium here -->
				<img src="/assets/img/andrew-demo.png" style="width:100%; margin-top:20px;" class="img-thumbnail" alt="Crunch being demoed by Andrew">
			</div>
			<div class="col-xs-4">
				<!-- image of us demoing crunch at the symposium here -->
				<img src="/assets/img/crunch-grab-2.png" style="width:100%; margin-top:20px;" class="img-thumbnail" alt="ChemBio Crunch screenshot">
			</div>
		</div>

		<div class="row alt-bg">


			<div class="col-xs-4 clearfix">
				<div class="row ">
					<blockquote class="blockquote-reverse">
						<p><em>"[I would use Crunch for] Analysis of physicochemical properties for drug development"</em></p>
					  <footer>Tharindi Panduwawala<small>Dept of Chemistry</small></footer>
					</blockquote>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="row ">
					<blockquote class="blockquote-reverse">
						<p><em>"I need a database of disease-associated mutations in secreted protein, with patients in Oxford and info from assays on the same protein..."</em></p>
					  <footer>Pietro Roversi<small>Dept of Biochemistry</small></footer>
					</blockquote>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="row ">
					<blockquote class="blockquote-reverse">
						<p><em>"I would like ways to compare novel protein targets to drug databases as an initial computer-based screening method"</em></p>
					  <footer>Tom Milne<small>Wetherall Institute</small></footer>
					</blockquote>
				</div>
			</div>
		</div>





		</div>
		

	</div>



<div class="row mt">

	<h2 class="further subheading">Symposium attendees</h2>
	<p class="nexa centered">Click an attendee name to see their personal profile page. <br/>Hover over the information symbol to see their brief biography.</p>
				
				{% for person in site.attendees %}
					<div class="col-xs-6 col-md-3 attendee">
						<div class="row">
							<div class="hidden-xs col-sm-6 col-lg-3" style="padding-right: 0;">
								<!-- photo -->
								
								<img {% if person.photo != "" %}src="{{ person.photo }}"{% else %}src="/assets/img/people/default_user_icon.png"{% endif %} data-name="{{ person.first_name }} {{ person.last_name }}" data-dept="{{ person.dept }}" data-weblink="{{ person.link }}" class="ppl-thumb" style="width:100%" > 
								{% if person.bio != "" %}<span class="glyphicon glyphicon-info-sign text-right blue" style="position: absolute;right: 0;font-size: 1.3em;" title="{{ person.bio }}"></span>{% endif %}
							</div>
							<div class="col-sm-6 col-lg-9">
								<p class="person-name nexa">{% if person.link != "" %}<a href="{{ person.link }}" onclick='return !window.open(this.href);'>{{ person.first_name }}<br/>{{ person.last_name }}</a>{% else %}<span class="grey">{{ person.first_name }}<br/>{{ person.last_name }}</span>{% endif %}</p>
								<p class="nexa" style="line-height:1.2em;"><small>{{ person.dept }}</small></p>
							</div>
						</div>
						
					</div>
				{% endfor %}




</div>
